.add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.33%;
  height: 100px;
  position: absolute;
  top: 63.2%;
  left: 58.4%;
  transform: translate(-50%, -50%);
  font-size: 125px;
  background: green;
  border-radius: 0px 0px 5px 0px;
  cursor: pointer;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17.5%;
}