@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(71, 71, 71);
  background: url('./field.jpg') no-repeat fixed center;
}

code {
  font-family: 'Lato', sans-serif;
}
